body {
  margin: 0;
  background-image: linear-gradient(
    hsl(273, 75%, 66%) 0%,
    hsl(273, 75%, 66%) 20%,
    hsl(240, 73%, 65%) 120%
  );
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 13px;
  color: hsl(238, 29%, 16%);
}

h1 {
  font-size: 32px;
  text-align: center;
}

main {
  background-color: white;
  background-image: url("./images/bg-pattern-mobile.svg");
  background-repeat: no-repeat;
  background-position: top center;
  border-radius: 20px;
  width: 330px;
  height: 550px;
  max-width: 90vw;
  max-height: 75vh;
  position: fixed;
  top: 18%; /*130px*/
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 40px 40px rgba(0, 0, 0, 0.3);
}

#container {
  width: 100%;
  height: 100%;
}

#decorative-image {
  position: relative;
  top: -19%;
  left: 50%;
  background: url("./images/illustration-woman-online-mobile.svg");
  width: 290px;
  height: 190px;
  transform: translateX(-145px);
}

#decorative-image-box {
  display:none;
}

#faq {
  position: relative;
  top: -12%;
  padding: 0 20px;
  height: 75%;
  overflow-y: auto;
}

input {
  display: none;
}

label {
  display: block;
  cursor: pointer;
  padding: 15px 0;
  color: hsl(237, 12%, 33%);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid hsl(240, 5%, 91%);
  transition: ease 0.5s;
}

label:hover {
  color: hsl(14, 88%, 65%);
}

input:checked + label {
  color: hsl(238, 29%, 16%);
  font-weight: 700;
}

input:checked + label > .arrow {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotateX(180deg);
}

.content {
  color: hsl(240, 6%, 50%);
  padding-right: 30px;
  border-bottom: 1px solid hsl(240, 5%, 91%);
  font-size: 12px;
  line-height: 1.2rem;
}

input + label + .content {
  opacity: 0;
  height: 0;
  line-height: 0;
  transition: ease 0.5s;
}

input:checked + label + .content {
  opacity: 1;
  height: 50px;
  line-height: 1;
}

.attribution {
  position: fixed;
  width: 100%;
  bottom: 2%;
  margin: auto;
  font-size: 11px;
  text-align: center;
  color: white;
}

.attribution a {
  color: #ff0;
}


@media (orientation: landscape) {
  main {
    width: 1000px;
    height: 600px;
    background-image: url("./images/bg-pattern-desktop.svg");
    background-size: 1000px auto;
    background-position: -610px -295px;
    
    max-width: 85vw;
    max-height: 70vh;
  } 

  #container {
    overflow: hidden;
  }

  #decorative-image {
    background: url("./images/illustration-woman-online-desktop.svg") no-repeat;
    position: relative;
    top: 100px;
    left: 62px;
    width: 472px;
    height: 360px;
  }

  #decorative-image-box {
    display: block;
    position: fixed;
    top: 230px;
    left: 50px;
    background: url("./images/illustration-box-desktop.svg");
    width: 200px;
    height: 160px;
    transform: translateX(-145px);
  }

  h1 {
    text-align: left;
  }
  
  #faq {
    position: fixed;
    top: 30px;
    left: 50%;
    margin: 10px;
    padding: 3% 90px 20px 0;
    height: 80%;
    overflow-y: auto;
  }
}